@import url(_reset.css);
html, body {
  background-color: #70c9ff;
}

.wrap {
  position: relative;
  width: 100%;
}
.wrap .header {
  width: 100%;
  height: 0;
  padding-top: 158%;
  background: url(../images/bg_02.jpg) 0 0 no-repeat;
  background-size: 100% 100%;
}
.wrap .medal {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 60.2666666667%;
  background: url(../images/bg_03.jpg) 0 0 no-repeat;
  background-size: 100% 100%;
}
.wrap .medal .btn_medal {
  position: absolute;
  width: 57.6%;
  height: 0;
  padding-top: 11.3333333333%;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  background: url(../images/btn_submit.png) 0 0 no-repeat;
  background-size: 100%;
}
.wrap .medal .btn_medal.active {
  background-position: 0 bottom;
}
.wrap .list {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 102%;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.wrap .list.list_3 {
  padding-top: 136.1333333333%;
}
.wrap .list.list_1 {
  background-image: url(../images/bg_04.jpg);
}
.wrap .list.list_1 .content .title {
  background-position: 0 top;
}
.wrap .list.list_1 .item:nth-child(2) .text {
  background-position: 0 0%;
}
.wrap .list.list_1 .item:nth-child(3) .text {
  background-position: 0 10%;
}
.wrap .list.list_1 .item:nth-child(4) .text {
  background-position: 0 20%;
}
.wrap .list.list_2 {
  background-image: url(../images/bg_05.jpg);
}
.wrap .list.list_2 .content .title {
  background-position: 0 center;
}
.wrap .list.list_2 .item:nth-child(2) .text {
  background-position: 0 30%;
}
.wrap .list.list_2 .item:nth-child(3) .text {
  background-position: 0 40%;
}
.wrap .list.list_2 .item:nth-child(4) .text {
  background-position: 0 50%;
}
.wrap .list.list_3 {
  background-image: url(../images/bg_06.jpg);
}
.wrap .list.list_3 .content .title {
  background-position: 0 bottom;
}
.wrap .list.list_3 .item:nth-child(2) .text {
  background-position: 0 60%;
}
.wrap .list.list_3 .item:nth-child(3) .text {
  background-position: 0 70%;
}
.wrap .list.list_3 .item:nth-child(4) .text {
  background-position: 0 80%;
}
.wrap .list .content {
  position: absolute;
  width: 80%;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, 4%, 0);
}
.wrap .list .content .caption {
  margin-bottom: 5%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.wrap .list .content .title {
  width: 52.6%;
  padding-top: 25.8%;
  background: url(../images/text_title.png) no-repeat;
  background-size: 100%;
}
.wrap .list .content .pic {
  width: 47.2%;
  background: url(../images/bg_img.png) 0 0 no-repeat;
  background-size: auto 100%;
}
.wrap .list .content .pic img {
  display: block;
  width: 65%;
  margin: 5%;
  border-radius: 10px;
  aspect-ratio: 1/1;
}
.wrap .list .item {
  position: relative;
  display: block;
  margin-bottom: 2%;
  width: 100%;
  height: 0;
  padding-top: 21.5%;
  background: url(../images/bg_list.jpg) 0 0 no-repeat;
  background-size: 100%;
  justify-content: space-around;
}
.wrap .list .item .text {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 56.8%;
  height: 0;
  padding-top: 20%;
  transform: translateY(-50%);
  background-image: url(../images/text_li.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.wrap .list .item .btn {
  position: absolute;
  top: 50%;
  right: 4%;
  transform: translateY(-50%);
  width: 27.1666666667%;
  height: 0;
  padding-top: 9%;
  background: url(../images/btn_button.png) 0 center no-repeat;
  background-size: 100%;
}
.wrap .list .item.active .btn::after {
  content: "";
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 120%, 0);
  position: absolute;
  width: 38.6503067485%;
  height: 25.9259259259%;
  background: url(../images/icon_ok.png) 0 0 no-repeat;
  background-size: 100%;
}
.wrap .mask {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
}
.wrap .mask .mask_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}
.wrap .mask .btn_close {
  position: absolute;
  top: 0;
  right: -1%;
  width: 18.795620438%;
  height: 0;
  padding-top: 18.795620438%;
  background: url(../images/btn_close.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
.wrap .mask .mask_wrap {
  position: absolute;
  width: 73.0666666667%;
  height: 0;
  padding-top: 86.8%;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  background: url(../images/bg_alert.png) 0 0 no-repeat;
  background-size: 100% 100%;
}
.wrap .mask .mask_pic {
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.wrap .mask .mask_pic .pic_box img {
  display: block;
  width: 100%;
  aspect-ratio: 15/28;
}
.wrap .mask .mask_pic .btn_close {
  transform: translate3d(50%, -50%, 0);
}
.wrap .mask .mask_pic p {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -30px;
  font-size: 12px;
  color: #fff;
  line-height: 1.5;
}
.wrap .mask .text {
  position: absolute;
  width: 93.2481751825%;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 70.0729927007%;
  background: url(../images/icon_alert.png) 0 0 no-repeat;
  background-size: 200%;
}
.wrap .mask .button {
  position: absolute;
  width: 64.7810218978%;
  padding-top: 13.6861313869%;
  left: 50%;
  bottom: 13%;
  transform: translateX(-50%);
  background: url(../images/btn_button.png) 0 top no-repeat;
  background-size: 100%;
}
.wrap .mask.disable .text {
  background-position: right 0;
}
.wrap .mask.disable .button {
  background-position: 0 bottom;
}

/*# sourceMappingURL=index.css.map */
